body {
  background: #EEF;
  color: #333333; }

#page {
  width: 550px;
  margin-left: auto;
  margin-right: auto; }
  #page header h1 {
    text-align: center; }

#hit {
  font-size: 30px; }

#game {
  width: 500px;
  height: 450px;
  background: #a2a2ff;
  text-align: center; }

#svgobj {
  border: 1px solid black;
  background: #aaffaa; }
