@import "mixins";

$middle_height: 450px;
$middle_width: 500px;
$middle_padding: 10px;

@mixin packSVG($border, $background){
    border: $border;
    background: $background;    
}

body{
    background: #EEF;
    color: black + #333;
}

#page{
    width: $middle_width+50;
    header h1{
	text-align: center;
    }
    margin-left :auto;
    margin-right:auto;
}

#hit{
    font-size: 30px;
}

#game{
    width: $middle_width;
    height: $middle_height;
    background: gray + #22F;
    text-align: center;
}

#svgobj{
    @include packSVG(1px solid black,#AFA);
}